body{
    background: linear-gradient(to right, #fffbd5, #b20a2c);
    font-family: Roboto;
}
h2{
    background-color: #2576b1;
    color:white;
    margin:0;
    padding: 10px 20px;
    font-size:24px;
    font-weight: normal;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
li{
    background: white;
    height:40px;
    line-height:40px;
    color: #666;
}
li:nth-child(2n){
    background-color: #f7f7f7;
}
input{
    font-size:18px;
    background-color: #f7f7f7;
    width:100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color:#2576b1;
    border: 3px solid rgba(0,0,0,0);
}
input:focus{
    background:white;
    border:3px solid #2989b9;
    outline:none;
}
.fa-plus{
    float:right;
}
#container{
    width:360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
.completed{
    color:grey;
    text-decoration: line-through;
    
}
span{
    background: #e74c3c;
    height: 40px;
    margin-right:20px;
    text-align: center;
    color:white;
    width:0;
    display:inline-block;
    transition: width 0.2s linear;
    opacity:0;
}
li:hover span{
    width:40px;
    opacity:1.0;
}

@media(max-width: 500px){
    #container{
        width:95%;
    }
}
